.container {
    width: 400px;
    height: 200px;
    position: absolute;
    top: calc(45% - 100px);
    left: calc(50% - 200px);
    //transform: translate(-50%, -55%);

    .btn {
        width: 400px;
        height: 50px;
        background-color: #f41631;
        font-size: 16px;
        font-weight: 500;
        color: #ffffff;

        &:active {
            background-color: red;
        }
    }
}