.add-container {
    width: 272px;
    margin: 10px 5px;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 3px;
    position: relative;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.15);
    
    & > span {
        display: block;
        height: 40px;
        line-height: 40px;
        border-radius: 3px;
        width: 100%;
        height: 100%;
        padding-left: 20px;
        background-color: transparent;
        
        &:hover {
            background-color: #dedede;
        }
    }

    .input {
        width: 100%;
        padding : 5px;
        border-radius: 3px;
        transition: all 0.3s linear;
        background-color: transparent;

        input[type='text'] {
            overflow: hidden;
            overflow-wrap: break-word;
            height: 36px;
            line-height: 36px;
            resize: none;
            border-radius: 3px;
            width: 100%;
            padding-left: 10px;
            border-width: 0px;
        }

        button {
            margin-top: 5px;
            display: block;
            background-color: #5aac44;
            box-shadow: none;
            border: none;
            color: #fff;
            height: 32px;
            width: 74px;
            border-radius: 3px;

            &:hover {
                background-color: rgba(90, 172, 68, 0.7);
            }

            &:active {
                background-color: #3b8b24;
            }

            & + span {
                position: absolute;
                top: 43px;
                cursor: pointer;
                font-size: 24px;
                left: 87px;

                &::before {
                    content: "\2715";
                }
            }
        }
    }
}