div.wrapper {
    height: 50%;
    margin: 40px;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
    border: 1px solid #adadad;
    border-bottom: none;
    border-right: none;

    thead tr {
        background: #edeef0 !important;
    }

    tr {
        height: 25px;

        &:hover {
            background: #f5f5f5;
        }

        td, th {
            border-right: 1px solid #adadad;
            border-bottom: 1px solid #adadad;
            width: 130px;
            text-align: center;

            &:nth-of-type(1){
                width: 30px !important;
                background: #edeef0;
            }
        }

        th > span {
            display: inline-block;
            margin-left: 5px;
            width: 15px;
            text-align: center;
        }

    }
}