.task-modify-modal-popup {
    div {
        position: relative;
        display: inline-block;
        vertical-align: top;       

        &:nth-of-type(1){
            textarea {
                width: 252px;
                height: 80px;
                padding : 6px 8px;
            }

            button {
                margin-top: 10px;
                display: block;
                background-color: #61bd4f;
                color: #fff;
                width: 80px;
                height: 30px;

                &:hover {
                    background-color: #71bd62;
                }

                &:active {
                    background-color: #3ca327;
                }
            }
        }

        &:nth-of-type(2) {
            position: absolute;
            button {
                position: relative;
                display: block;
                margin-bottom: 5px;
                left: 10px;
                min-width: 130px;
                height: 35px;
                background: rgba(0,0,0,.6);
                color: #e6e6e6;
                transition: all 150ms ease-in;
                text-align: left;
                padding-left: 10px;

                &:hover {
                    left: 15px;
                }

                &:hover {
                    color: #fff;
                    background: rgba(0,0,0,.8);
                }
            }
        }

        &:nth-of-type(3) {
            position: absolute;
            top: 40px;
            left: 262px;
            width: 282px;
            background-color: white;
            border-radius: 3px;

            & > span {
                height: 30px;
                line-height: 30px;
                margin: 5px;
                background-color: rgba(9, 30, 66, 0.05);
                display: block;
                position: relative;
                border-radius: 3px;
                padding-left: 5px;
                clear: both;

                &:hover {
                    cursor: pointer;
                    background-color:  rgba(9,30,66,0.08);
                }

                &:active {
                    background-color:  rgba(9,30,66,0.1);
                }

                &:first-child {
                    height: 20px;
                    line-height: 16px;
                    text-align: center;
                    width: 20px;
                    padding: 0;
                    float: right;
                }
            }
        }
    }
}