.task-container {
    width: 272px;
    margin: 10px 5px;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    background-color: #ebecf0;
    border-radius: 3px;
    box-sizing: border-box;
    flex-direction: column;
    position: relative;

    &:first-child {
        margin-left: 10px;
    }

    .header {
        flex: 0 0 auto;
        padding: 10px 12px;
        position: relative;
        min-height: 38px;
        display: flex;
        justify-content: space-between;

        * {
            border-radius: 3px;
        }

        textarea {
            overflow: hidden;
            overflow-wrap: break-word;
            height: 28px;
            width: 90%;
            background: transparent;
            padding-top: 3px;
            padding-left: 10px;

            &.editing {
                background-color: #fff;
                border: 1px solid #aaa;
                border-radius: 3px;
            }
        }

        .more {
            color: #6b778c;
            width: 15px;
            text-align: center;
            line-height: 28px;
            cursor: pointer;

            &:hover {
                background-color: rgba(107, 119, 140, 0.2);
            }

             & > span::before {
                content: "\205D";
                font-size: 14px;
                text-align: center;
             }
        }
    }

    .contents {
        padding: 0 10px;
        font-size: 14px;
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 700px;
        // min-height: 10px;

        .add-task-container {
            position: relative;
            margin-bottom: 6px;

            textarea {
                overflow: hidden;
                overflow-wrap: break-word;
                min-height: 20px;
                width: 100%;
                background-color: #fff;
                padding: 6px 8px 2px;
            }
            
            span {
                position: absolute;
                top: 0px;
                cursor: pointer;
                font-size: 12px;

                &:nth-of-type(1) {
                    color: rgb(230, 4, 4);
                    right: 18px;
                    &::before {
                        content: "\2714";
                    }
                }

                &:nth-of-type(2) {
                    right: 4px;
                    &::before {
                        content: "\2716";
                    }
                }
            }
        }

        .placeholder {
            width: 100%;
            height: 50px;
            background-color: #dedede;
            margin-bottom: 8px;
            border-radius: 3px;
        }
    }

    .footer {
        min-height: 38px;
        max-height: 38px;
        display: flex;
        justify-content: space-between;
        color: #172b4d;
        padding: 8px;
        font-size: 12px;

        .add {
            width: 85%;
            padding-left: 8px;
            background-color: transparent;

            &.hover {
                cursor: pointer;
                background-color: #dddddd;
                border-radius: 3px;
            }
        }
    }
}