body {
    background-color: #ECEFF1;
}

/* Authentication */
.auth {
  margin-top: 50px;
    text-align: center;
}

.logo {
    text-align: center;
    font-weight: 100;
    font-size: 80px;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}

a.logo {
    color: #5B5B5B;
}

a {
    cursor: pointer;
}

.auth .card {
    width: 400px;
    margin: 0 auto;
}


@media screen and (max-width: 480px) {
  .auth .card {
    width: 100%;
  }

  .logo {
    font-size: 60px;
  }
}



.auth .header {
    font-size: 18px;
}

.auth .row {
    margin-bottom: 0px;
}

.auth .username {
  margin-top: 0px;
}

.auth .btn {
    width: 90%;
}

.auth .footer {
    border-top: 1px solid #E9E9E9;
    padding-bottom: 21px;
}



.write .materialize-textarea {
    padding: 0px;
    padding-bottom: 36px;
    margin-bottom: 0px;
    font-size: 18px;
}

.write .card-content {
    padding-bottom: 10px;
}

.write .card-action {
    text-align: right;
}

.wrapper {
    margin-top: 20px;
}



/* Memo */

.memo .info {
    font-size: 18px;
    padding: 20px 20px 0px 20px;
    color: #90A4AE;
}

.memo .info .username {
    color: #263238;
    font-weight: bold;
    cursor: pointer;
}

.memo .card-content {
    word-wrap: break-word;
    white-space: pre-wrap;
}

.icon-button {
    color: #9e9e9e;
    cursor: pointer;
}

.icon-button:hover {
    color: #C5C5C5;
}

.icon-button:hover {
    color: #C5C5C5;
}

.icon-button:active {
    color: #ff9800;
}

.memo .option-button {
    position: absolute;
    right: 20px;
    top: 20px;
}

.memo .card-content {
    font-size: 18px;
}

.memo .footer {
    border-top: 1px solid #ECECEC;
    height: 45px;
}

.star {
    position: relative;
    left: 15px;
    top: 11px;
}

.star-count {
    position: relative;
    left: 20px;
    top: 4px;
    font-size: 13px;
    font-weight: bold;
    color: #777;
}
