body {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    //font-family: 'Noto Sans CJK KR', Roboto, sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    user-select: none;
    outline:0;
    font-size: 14px;
    text-align: left;
}

button { 
    cursor: pointer; 
    border: none; 
    text-align: center;
    border-radius: 3px;
    box-shadow: none;
}

textarea {
    border-radius: 3px;
    resize: none;
    border: none;
}

#root {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.popover-default {
    width: 300px;
    border-radius: 3px;
    text-align: left;
    font-size: 12px;
    color: #5e6c84;

    .header {
        position: relative;

        .title {
            height: 41px;
            text-align: center;
            border-bottom: 1px solid rgba(9,30,66,.13);
            display: block;
            line-height: 40px;
            margin: 2px 10px 10px 10px;
        }

        .close {
            position: absolute;
            top: 8px;
            right: 10px;
            cursor: pointer;

            &::before {
                content: "\2716";
                text-align: center;
            }

            &:hover {
                color: #4e5a6e;
            }
        }
    }

    &.list-action {
        width: 300px;
        padding-bottom: 10px;

        li {
            height: 32px;
            line-height: 32px;
            padding-left: 10px;
            cursor: pointer;

            &:hover {
                background-color: rgba(238,238,238, 0.5);
            }
        }
    }
}