:root{
    --input-height : 40px;
}

.App {
  /*text-align: center;*/
  margin-left: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inputForm{
    height : var(--input-height);
    line-height: var(--input-height);
}

.popup {  
  /*position: sticky;*/
  position: absolute;
  width: 600px;
  height: 400px;
  left: 0;
  background-color: rgba(0,0,0, 0.5);  
  animation: slideUp 3s ease;
}

@keyframes slideUp {
    from {
        top : 500px;
    }
    to {
        top : var(--input-height);
    }
}