.logo {
    height: 3.5rem;
    background-color: #afafaf;
    width: 100vw;
    line-height: 3.5rem;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.menu {
    background-color: #343a40;
    height: 3.5rem;
}

.menu-item {
    display: inline-block;
    color: white;
    font-size: 1rem;
    line-height: 3.5rem;
    width: 33.3333%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.menu-item > a{
    display: block;
    width: 100%;
    height:100%;
    color: white;
}

.menu-item:hover {
    background-color: #495057;
}

.menu-item > a.active {
	background-color: #1862ab;
}